<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue</title>
    <link href="style.css" rel="stylesheet" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" type="text/javascript"></script>
    <script defer src="main.js" type="text/javascript"></script>
</head>
<body>
    
    <header>
        <nav class="nav-bar"></nav>
    </header>
    <div id="app">
        <div class="product">
            <div class="product-image">
                <img v-bind:src="image" v-bind:alt="altText">
            </div>
            <div class="product-info">
                <h1>{{ product }}</h1>
                <span class="product-special" v-show="onSale">On Sale!</span>
                <p v-if="inStock && inventory > 10">In Stock</p>
                <p v-else-if="inStock && inventory <= 10 && inventory > 0">Almost Sold Out!</p>
                <p 
                    v-else
                    v-bind:class="{ outOfStock: !inStock }"
                    >
                    Out of Stock 
                    <span v-show="!inStock">∅</span>
                </p>

                <ul>
                    <li v-for="detail in details">{{ detail }}</li>
                </ul>
                
                <div class="color-box"
                    v-for="variant in variants"
                    v-bind:key="variant.variantId"
                    v-bind:style="{ backgroundColor: variant.variantColor }"
                    v-on:mouseover="updateImage(variant.variantImage)"
                    >
                </div>
                
                <div>
                    <button 
                        v-bind:class="{ disabledButton: !inStock }"
                        v-bind:disabled="!inStock"
                        v-on:click="addToCart">
                        Add to Cart
                    </button>
                    <button 
                        class="button_red"
                        v-bind:class="{ disabledButton: cart <= 0 }"
                        v-bind:disabled="cart <= 0"
                        v-on:click= "removeFromCart">
                        Remove from Cart
                    </button>
                    <p class="cart">Cart ({{ cart }})</p>
                </div>
            </div>
        </div>
    </div>

</body>
</html>